<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SmartLook Bridal Studio & Academy</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/roundlogo.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Updated: Mar 13 2024 with Bootstrap v5.3.3
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Smart<span> Look</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#book-a-table">Service</a></li>
          
          <li><a href="#menu">Product</a></li>
          <li><a href="#events">Academy</a></li>
          <li><a href="#chefs">Employees</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#about">About</a></li>

          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->

      <a class="btn-book-a-table" href="login">sign up</a>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Everyone is <span>beautiful</span>,<br>we just make it <span>obvious</span>!</h2>
          <p data-aos="fade-up" data-aos-delay="100" style="font-size: 19px;">Because being beautiful would never harm you...!! <br>
            We'll style while you smile !! <br>We would love to exceed your expectations.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#book-a-table" class="btn-book-a-table">Book Now</a>
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="/static/assets/img/girlastra.png" class="img-fluid" style="height: 470px;width:700px;" alt="" data-aos="zoom-out" data-aos-delay="200">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
    <!-- ======= Product Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header" class="shruti">
          <h2>Our product</h2>
          <p>Check Our <span>Best Product</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4>Skin</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4>Nails</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4>Hair</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4>Body</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="menu-starters">

            <div class="tab-header text-center">
              <p>Product</p>
              <h3>Skin</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/himfacewash.png" class="glightbox"><img src="/static/assets/img/menu/himfacewash.png" class="menu-img img-fluid" alt=""></a>
                <h4>Face Wash</h4>
                <p class="ingredients">
                  Himalaya Purifying Neem FaceWash (100 ml)
                </p>
                <p class="price">₹ 170</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/sunscreen.jpg" class="glightbox"><img src="/static/assets/img/menu/sunscreen.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Sunscreen</h4>
                <p class="ingredients">Lakme Sun Expert Ultra SPF 50</p>
                <p class="price">₹ 79</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/gel.jpg" class="glightbox"><img src="/static/assets/img/menu/gel.jpg" style="height: 235px;" class="menu-img img-fluid" alt=""></a>
                <h4>Aloevera Gel</h4>
                <p class="ingredients">
                  L'avenour Aloevera Gel(Hair,Body,face)
                </p>
                <p class="price">₹ 141</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><br><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/scrub.jpg" class="glightbox"><img src="/static/assets/img/menu/scrub.jpg" style="height: 235px;width:900px;" class="menu-img img-fluid" alt=""></a>
                <h4>Face Scrub</h4>
                <p class="ingredients">
                  Lotus herbals apricote scrub (50gm)
                </p>
                <p class="price">₹ 90</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/faceSerum.jpg" class="glightbox"><img src="/static/assets/img/menu/faceSerum.jpg" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Mamaearth Serum</h4>
                <p class="ingredients">
                  Skin Correct Face Serum with Niacinamide &<br>
                  Ginger Extract for Acne Marks & Scars-30 ml
                </p>
                <p class="price" >₹ 599</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/cleanser.jpg" class="glightbox"><img src="/static/assets/img/menu/cleanser.jpg" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Facial Cleanser</h4>
                <p class="ingredients">
                  Yes To carrots daily cream <br> facial cleanser  (180 ml)
                </p>
                <p class="price">₹ 370</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

            </div>
          </div><!-- End skin product Content -->

          <div class="tab-pane fade" id="menu-breakfast">

            <div class="tab-header text-center">
              <p>Product</p>
              <h3>Nails</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/nail1.jpg" class="glightbox"><img src="/static/assets/img/menu/nail1.jpg" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Pair of Nail Paints</h4>
                <p class="ingredients">
                  2 Nail Paints (Sky Blue & shiner Blue)
                </p>
                <p class="price">₹ 100</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/nail2.jpg" class="glightbox"><img src="/static/assets/img/menu/nail2.jpg" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Nail Polish Remover</h4>
                <p class="ingredients">
                  GLAM Premium Nail Polish Remover (30 ml)</p>
                <p class="price"> ₹ 150</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/nail3.jpg" class="glightbox"><img src="/static/assets/img/menu/nail3.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Artificial Nails</h4>
                <p class="ingredients">
                  1 pack of Acrylic french nude nails
                </p>
                <p class="price">₹ 190</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/nail4.jpg" class="glightbox"><img src="/static/assets/img/menu/nail4.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Nail Shiner</h4>
                <p class="ingredients">
                  Disguise Silver Nail Shiner Top coat
                </p>
                <p class="price">₹ 99</p>
                <input type="button" value="ADD TO CART" class="add">

                </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/nail5.jpg" class="glightbox"><img src="/static/assets/img/menu/nail5.jpg" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Gel Polish</h4>
                <p class="ingredients">
                 Long lasting Silver Nail gel polish</p>
                <p class="price">₹ 255</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/nail6.jpg" class="glightbox"><img src="/static/assets/img/menu/nail6.jpg" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Nails Stickers</h4>
                <p class="ingredients">
                  INTEROOKIE Gel Nail Sticker<br>
                   3D and Durable, Detachable and Wearable
                </p>
                <p class="price">₹ 119</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

            </div>
          </div><!-- End nails Content -->

          <div class="tab-pane fade" id="menu-lunch">

            <div class="tab-header text-center">
              <p>Product</p>
              <h3>Hair</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/hair1.png" class="glightbox"><img src="/static/assets/img/menu/hair1.png" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Hair Shampoo</h4>
                <p class="ingredients">
                  L'Oréal Paris Elvive Colour Protect <br> Anti-Brassiness Purple Shampoo 
                </p>
                <p class="price">₹ 512</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/hair-conditioner.png" class="glightbox"><img src="/static/assets/img/menu/hair-conditioner.png" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Hair Conditioner</h4>
                <p class="ingredients">
                  Hair Conditioner – Aptayu <br> (300ml) 
                </p>
                <p class="price">₹ 302</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/hair_oil.jpg" class="glightbox"><img src="/static/assets/img/menu/hair_oil.jpg" style="height: 235px;width:700px;" class="menu-img img-fluid" alt=""></a>
                <h4>Onion Hair oil</h4>
                <p class="ingredients">
                  Onion Hair Oil with Onion Oil & Redensyl <br> for Hair Fall Control - 250 ml
                </p>
                <p class="price">₹ 599</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/hair-mask.jpg" class="glightbox"><img src="/static/assets/img/menu/hair-mask.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Hair Mask</h4>
                <p class="ingredients">
                  Pilgrim Amazonian Patua & Keratin <br>Strengthening Hair Mask - 200 g
                </p>
                <p class="price">₹ 412</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/hair-serum.jpg" class="glightbox"><img src="/static/assets/img/menu/hair-serum.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Hair Serum</h4>
                <p class="ingredients">
                  Hair growth serum with Anagain, Rendensyl, Creatine, L-Arginine
                </p>
                <p class="price">₹ 969</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/hair-colour.jpg" class="glightbox"><img src="/static/assets/img/menu/hair-colour.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Hair Colour</h4>
                <p class="ingredients">
                  Salon Secret High Shine Crème <br> Hair Colour - Chocolate Dark Brown - 100 g
                </p>
                <p class="price">₹ 225</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

            </div>
          </div><!-- End hair product Content -->

          <div class="tab-pane fade" id="menu-dinner">

            <div class="tab-header text-center">
              <p>Product</p>
              <h3>Body</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/bodywash.jpg" class="glightbox"><img src="/static/assets/img/menu/bodywash.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Charcoal Body Wash</h4>
                <p class="ingredients">
                  Mamaearth Charcoal Body Wash With <br>Charcoal and Mint for Deep Cleansing
                </p>
                <p class="price">₹ 303</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/eyeoil.jpg" class="glightbox"><img src="/static/assets/img/menu/eyeoil.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Eyebrow Oil</h4>
                <p class="ingredients">
                  Noor Skincare Eyebrow Growth Oil -<br> 
                  for Thick Eyebrows and Eyelashes
                </p>
                <p class="price">₹ 584</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/bmsgoil.jpg" class="glightbox"><img src="/static/assets/img/menu/bmsgoil.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Body Massage Oil</h4>
                <p class="ingredients">
                  Rubz Rejuvenating Massage Oil | Relaxing<br> & Destressing Body Massage Oil for Women
                </p>
                <p class="price">₹ 398</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/b_cleanser.png" class="glightbox"><img src="/static/assets/img/menu/b_cleanser.png" class="menu-img img-fluid" alt=""></a>
                <h4>Body Cleanser</h4>
                <p class="ingredients">
                  Patanjali Multani Mitti Soap <br>- Pack of 7
                </p>
                <p class="price">₹ 345</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/wax.jpg" class="glightbox"><img src="/static/assets/img/menu/wax.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Body Wax</h4>
                <p class="ingredients">
                  Rica Green Apple Liposoluble Wax <br>For Sensitive Skin,400 ml 
                </p>
                <p class="price">₹ 355</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

              <div class="col-lg-4 menu-item">
                <a href="/static/assets/img/menu/bodyScrub.jpg" class="glightbox"><img src="/static/assets/img/menu/bodyScrub.jpg" class="menu-img img-fluid" alt=""></a>
                <h4>Body Scrub</h4>
                <p class="ingredients">
                  mCaffeine Exfoliating Coffee Body Scrub <br> for Tan Removal & Soft-Smooth Skin
                </p>
                <p class="price">₹ 395</p>
                <input type="button" value="ADD TO CART" class="add">
              </div><!-- product Item -->

            </div>
          </div><!-- End body product Content -->

        </div>

      </div>
    </section><!-- End product Section -->

    
    <!-- ======= Academy Section ======= -->
    <section id="events" class="events">
      <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
          <h2>Academy</h2>
          <p>Look at <span>best classes plan</span> for you.</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/assets/img/tues3.jpg)">
              <h2 class="price align-self-start">Basic Course</h2>
              <h4 style="color: rgb(184, 184, 184);">₹ 20,000</h4>
              <p class="description">
                It includes basic hair styling techniques (straightening, curling, etc), Basic
                body services training (wax, manicure, pedicure, etc) and basic skincare
                (facial, bleach, etc).
              </p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/assets/img/events-2.jpeg)">
              <h2 class="price align-self-start">Advanced Course</h2>
              <h4 style="color: whitesmoke;">₹ 30,000</h4>
              <p class="description">
                It includes basic course along with Advanced Hair styling techniques, 
              HD Makeup & 3D Makeup techniques, Bridal Mehndi training and all chemical treatments.</p>
            </div><!-- End Event item -->

            <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/static/assets/img/tues4.avif)">
              <h2 class="price align-self-start">SmartLook Sp. Course</h2>
              <h4 style="color: rgb(184, 184, 184);">₹ 50,000</h4>
              <p class="description">
                SmartLook Special Course provides Advanced course along with Air brush Makeup techniques, Nano-
              plastia surgery techniques, Professional Nail art & Professional Hair styling.</p>
            </div><!-- End Event item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Employees</h2>
          <p>Our <span>Proffesional</span> Employees</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="/static/assets/img/chefs/emp-1.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/parulgargmakeup?igsh=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a>
                  <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
                </div>
              </div>
              <div class="member-info">
                <h3 style="font-family: 'Verdana';"><b>Parul Garg</b></h3>
                <span style="color:brown;font-size: 16px;"><b>Makeup Artist</b></span>
                <p style="color: rgb(103, 103, 103);font-size: 15px;">Parul Garg is professional Makeup Artist having many years of experience in 
                  the glamour industry. She has expertise in bridal, models and all kinds of 
                  makeup art, including HD, 3D & Air brush techniques.
                </p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="/static/assets/img/chefs/emp-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <!-- <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/idivyeshtalaviya?igsh=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a>
                  <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
                </div>
              </div>
              <div class="member-info">
                <h3><b>Divyesh Talaviya</b></h3>
                <span style="color:brown;font-size: 16px;"><b>Mehndi Artist & Stylist</b></span>
                <p style="color: rgb(103, 103, 103);font-size: 15px;">Divyesh is professional Mehndi Artist sharing 5 years of experience
                   with us. He is expertised in babyshower, engagement, bridal & portrait mehndi.
                   He also styles celebrities of the town.
                </p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="/static/assets/img/chefs/emp-3.jpg" class="img-fluid" >
                <div class="social">
                  <!-- <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/nehaadhvikmahajan?igsh=MzRlODBiNWFlZA=="><i class="bi bi-instagram"></i></a>
                  <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
                </div>
              </div>
              <div class="member-info">
                <h3><b>Neha Mahajan</b></h3>
                <span style="color:brown;font-size: 16px;"><b>Hair Stylist & Nail Artist</b></span>
                <p style="color: rgb(103, 103, 103);font-size: 15px;">Neha Adhvik Mahajan, the Nail artist & 
                  Hair stylist. She has been working in this industry since so far. Along with that, Neha is a 
                  very talented Hair Stylist and master in every kind of Nail Art.
                </p>
              </div>
            </div>
          </div><!-- End Chefs Member -->

        </div>

      </div>
    </section><!-- End Chefs Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Book A Appointment</h2>
          <p>Book <span>Your Stay</span> With Us</p>
        </div>

        <div class="row g-0">

          <div class="col-lg-4 reservation-img" style="background-image: url(/static/assets/img/reservation.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

          <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
            <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="date" min="2024-03-29" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <script>
                    var today = new Date().toISOString().split('T')[0];
                    document.getElementByName("date")[0].setAttribute('min',today);

                   
              
                  </script>
            
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="time" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" min="1" name="people" id="people" placeholder="enter people" data-rule="minlen:1" data-msg="Please enter at least 1 chars" required>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <!--<div class="error-message"></div>-->
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Book a Appointment</button></div>
            </form>
          </div><!-- End Reservation Form -->

        </div>

      </div>
    </section><!-- End Book A Table Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>

        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/static/assets/img/gallery/gallery-1.jpg"><img src="/static/assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/static/assets/img/gallery/gallery-2.jpg"><img src="/static/assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/static/assets/img/gallery/gallery-3.jpg"><img src="/static/assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/static/assets/img/gallery/gallery-4.jpg"><img src="/static/assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/static/assets/img/gallery/gallery-5.jpg"><img src="/static/assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/static/assets/img/gallery/gallery-6.jpg"><img src="/static/assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/static/assets/img/gallery/gallery-7.jpg"><img src="/static/assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="/static/assets/img/gallery/gallery-8.jpg"><img src="/static/assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>About Us</h2>
            <p>Learn More <span>About Us</span></p>
          </div>
  
          <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" style="background-image: url(/static/assets/img/about.jpg) ;
           background-repeat: no-repeat; height: 700px;" data-aos="fade-up" data-aos-delay="150">
              <div class="call-us position-absolute">
                <h4>Book a Appointment</h4>
                <p>+91 72288 75159 </p>
                
              </div>
            </div>
            
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
              <div class="content ps-0 ps-lg-5">
                <p class="fst-italic">
                  Welcome to <b>SmartLook</b>, where beauty meets relaxation. <br><br>
                  At <b>SmartLook</b>, we believe that everyone deserves to look and feel their best. 
                  Our team of experienced stylists and beauty professionals are dedicated to providing 
                  exceptional service in a welcoming and comfortable atmosphere.
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> With a passion for the latest trends and techniques, we offer a wide range of services including haircuts, styling, coloring, manicures, pedicures, facials, and more.</li>
                  <li><i class="bi bi-check2-all"></i> Whether you're looking for a quick touch-up or a complete transformation, our skilled team is here to help you achieve your desired look.</li>
                  <li><i class="bi bi-check2-all"></i> We adhere to strict sanitation protocols and use only high-quality products to ensure the best results without compromising your well-being.
                  </li>
                </ul>
                <p>
                  Thank you for considering SmartLook for your beauty needs. 
                  We look forward to welcoming you to our salon and helping you look and feel your absolute best.
                </p>
  
                <div class="position-relative mt-4">
                  <img style="width: 600px;" src="/static/assets/img/about-2.jpg" class="img-fluid" alt="">

                  <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="mb-3">
         <!-- <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1880179.1313851455!2d71.20075509989911!3d22.817417318804296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1711649799375!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>-->
         <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.4812446552933!2d72.6555665743683!3d23.04281191557431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e874dcf7f8ffd%3A0xe37bcb12bb285d4b!2sSMARTLOOK%20Bridal%20studio!5e0!3m2!1sen!2sin!4v1711728190345!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
         
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>GF-05/06/07,Ishawar Icon,Near : Sunrise Park Jivanwadi,Nikol Gam Road, Nikol,Ahmd-382350</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>mukeshbagthariya2984@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+91 72288 75159</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Opening Hours</h3>
                <div><strong>Mon-Sat:</strong> 10AM - 8PM;
                  <strong>Sunday:</strong> Closed
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
          <div class="row">
            <div class="col-xl-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-xl-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form><!--End Contact Form -->

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Address</h4>
            <p>
              GF-05/06/07,Ishawar Icon,Near : Sunrise Park Jivanwadi,Nikol Gam Road, Nikol,Ahmd-382350<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservations</h4>
            <p>
              <strong>Phone:</strong> +91 72288 75159<br>
                mukeshbagthariya2984@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Opening Hours</h4>
            <p>
              <strong>Mon-Sat : </strong>10AM - 8PM<br>
              <strong>Sunday : </strong> Closed
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Follow Us</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Yummy</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>